<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Anime Watch List</h1>
    <form action="/" method="post">
      <span>Add : </span>
      <span><input type="text" name="name" /></span>
      <span><button type="submit">Add</button></span>
    </form>

    <% Anime.forEach(element => { %>
    <p>
      <span><%= element.name %></span>
      <span><button name="update">Update</button></span>
      <span><button name="delete">delete</button></span>
    </p>
    <% }) %>
  </body>
</html>
