<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>About</h1>
    <h3>Naam to suna hoga hum lorem log hai</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
      minima rerum! Sed error alias vero at, facilis, similique earum fugiat
      possimus asperiores magni, deleniti accusamus quae veniam eveniet
      excepturi voluptate culpa ratione?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
      maiores pariatur vero minus, incidunt ipsa quaerat dignissimos impedit
      magni molestias soluta doloribus.
    </p>
    <a href="http://localhost:3004/">Wapis home pr jao baby</a>
  </body>
</html>
