<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Render This page baby</h1>
    <a href="http://localhost:3004/about">About us Baby</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      maxime nesciunt illo nemo ad reprehenderit quam ab beatae, voluptatem a
      amet necessitatibus consectetur voluptate nam cumque, enim velit. Hic
      distinctio fugit aperiam beatae iste eius? Autem officia molestias sint
      iste modi! Magni, ipsa doloremque.
    </p>
    <br /><br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iusto
      neque explicabo error iste aspernatur id. Consectetur deserunt modi
      exercitationem temporibus. Aut nemo adipisci soluta excepturi nam
      distinctio facilis hic eveniet atque unde!
    </p>
  </body>
</html>
