/* CSS issue with handlebars */

body {
  height: 100vh;
  background: #888;
}
.section {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
